<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <p>Content here!</p>
    <div class="wrapper">
        <div class="row">
            <div class="sections one">
                <div class="loadingContainer">
                    <div class="block">Loading</div>
                </div>
            </div>
            <div class="sections two">
                <div class="loadingContainer-two">
                    Loading
                    <div class="block-two"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="sections three">
                <div class="circleWrapper">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
            <div class="sections">loading</div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</body>
</html>